<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IWeb32 | Сотрудник {{employee.first_name}} {{employee.last_name}}</title>

    {% load static %}

    <link rel="apple-touch-icon" sizes="180x180" href='{% static "img/apple-touch-icon.png"%}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicon-32x32.png"%}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicon-16x16.png"%}'>
    <link rel="manifest" href='{% static "img/site.webmanifest"%}'>
    <link rel="mask-icon" href='{% static "img/safari-pinned-tab.svg"%}' color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="IWeb32">
    <meta name="application-name" content="IWeb32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href='{% static "css/style.css"%}?{% now "U" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/workers_table/employee.css"%}?{% now "U" %}'>
    <script src='{% static "js/script.js"%}'></script>
</head>
<body>
  {% csrf_token %}
    <header class="header">
        <div class="container header__div">
            <div class="div_logo">
                <a href="{% url 'register' %}" class="logo">
                    <img id="logo" src='{% static "img/logo.png"%}' alt="Logo">
                </a>
                <div id="timer">
                    <div class="timer__div">
                        <span id="current-time"></span>
                        <div class="current-time-div">
                            <span id="current-time-day"></span>
                            <!--<span id="current-time-task"></span>-->
                        </div>
                    </div>
                    <div class="timer__div__btn">
                        <a href="{% url 'register' %}" id="start-stop-btn" >Статус дня</a>
                    </div>
                    <span class="current_task"></span>
                </div>
            </div>
            <div class="nav">
                <a href="{% url 'list' %}" class="nav-link">Список сотрудников</a>
                <a href="{% url 'list' %}" class="nav-link">Статистика</a>
            </div>
            <div class="user">
                <a href="{% url 'logout' %}" class="nav-link">Выйти</a>
                <!--<a href="{% url 'logout' %}" class="nav-link"> Выйти из аккаунта {{request.user}}</a>-->
            </div>
        </div>
    </header>
    <main class="container employee">
        <div class="block">
            <div class="card">
              <span class="info" style="margin-bottom: 1em;"><b>{{employee.first_name}} {{employee.last_name}}</b></span>
              <span class="info">Email: <a href="malito:{{employee.email}}">{{employee.email}}</a></span>
              <span class="info">Телефон: <a href="tel:{{employee.phone}}">{{employee.phone}}</a></span>
              <span class="info">Отдел: {{employee.department}}</span>
              <span class="info">Должность: {{employee.position}}</span>
            </div>
        </div>
        <a href="{% url 'list' %}" class="link_back"><- Назад</a>
    </main>
</body>
</html>
